*target*
*.jar
*.war
*.ear
*.class

bin/**
tmp/**
tmp/**/*

.settings/
.buildpath
local.properties
.classpath

# Eclipse Core
.project
.factorypath

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
.classpath
.class